.add-section {
  padding: 20px;
  margin: auto;
  margin-top: 310px;
}

.tools-flex {
  margin: auto;
  max-width: 1300px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.article-item {
  background-color: #fff;
  box-shadow: 0 0 8px 0 #0002;
  border-radius: 17px;
  overflow: hidden;

  &:hover {
    box-shadow: none;
  }
}

.link-wrapper {
  padding: 12px;
  color: #333;
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  & img {
    width: 30px;
  }

  & span:first-child {
    background-color: #eaebf7;
    padding: 8px;
    display: flex;
    place-items: center;
    width: fit-content;
    border-radius: 10px;
  }
}

@media screen and (min-width: 840px) {
  .add-section {
    padding: 30px;
    padding-top: 20px;
  }

  .article-item:hover {
    box-shadow: 0 0 8px 0 #fff7;
  }

  .link-wrapper {
    background-color: #1f2573;
    color: #fff;
  }
}
@media screen and (min-width: 460px) {
  .tools-flex {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .tools-flex {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 980px) {
  .tools-flex {
    margin-bottom: 20px;
  }
  .add-section {
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 310px;
  }
}
