.form-section {
  background-color: #303ab2;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

.style-width {
  max-width: 1300px;
  margin: auto;
}

.container-figures {
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 18px 0 24px 0;
}

.container-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-label-container {
  padding: 10px 5px;
  position: relative;
  font-size: 0.9em;
  cursor: pointer;
  z-index: 10;
  color: #fff;
  flex-shrink: 0;

  & label {
    font-weight: bold;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #1edbcf;
      transform: scaleX(0);
      border-radius: 10px;
      transition: transform 0.2s ease;
    }
  }

  & input[type='radio']:checked ~ label::before,
  &:hover > label::before {
    transform: scaleX(1);
  }
}

.container-input {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.select-input,
.search-input,
.submit-button {
  width: 100%;
  height: fit-content;
  padding: 10px 17px;
  font-size: 1.05em;
  border-radius: 8px;
  border: none;
  font-weight: 100;

  &:focus-visible {
    outline: none;
  }
}

.select-input {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath d='M12.281.305a1 1 0 0 1 1.52 1.295l-.082.095-5.672 5.861a1.46 1.46 0 0 1-1.987.1l-.108-.101-5.67-5.86A1 1 0 0 1 1.625.22l.093.085 5.28 5.457L12.281.305z' fill='%23777'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px 8px;
  appearance: none;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}

.search-input::placeholder {
  font-size: 0.9em;
  color: #bbb;
}

.submit-button {
  background-color: #1edbcf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 40px;

  &:hover {
    filter: brightness(1.1);
  }

  & span:last-child {
    font-size: 0.85em;
    font-weight: bold;
    color: #303ab2;
  }
}

@media screen and (min-width: 400px) {
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 480px) {
  .item-label-container {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 840px) {
  .form-section {
    padding: 20px 35px;
  }
  .container-input {
    flex-direction: row;
    align-items: center;
  }

  .item-input-container:first-child {
    width: 220px;
  }
  .item-input-container:last-child {
    flex: 1;
  }

  .select-input,
  .search-input {
    padding: 19px 15px;
  }

  .submit-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 110px;
    height: 49px;
  }
}
