.gradient {
  margin: 20px 0;
  margin-bottom: 25px;
  height: 8px;
  width: 145px;
  border-radius: 30px;
  background: linear-gradient(to right, #636bc5, rgba(30, 219, 207, 0.5));
  border: none;
}

@media screen and (min-width: 600px) {
  .gradient {
    margin-top: 40px;
    margin-bottom: 45px;
  }
}
