* {
  margin: 0;
  padding: 0;
}

.background {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0009;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.aside {
  background-color: #fff;
  position: fixed;
  left: -300px;
  top: 0;
  width: 245px;
  height: 100vh;
  border-top-right-radius: 8px;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.3s ease;
  z-index: 100;

  &.show {
    transform: translateX(300px);
  }
}

.img-logo-background {
  width: 140px;
  height: 50px;
  background-image: url(https://frtassets.fotocasa.es/statics/img/fotocasa_logo.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 140px;
}

.close-button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close-button {
  display: block;
  padding: 12px 16px;
  padding-right: 25px;
  font-size: 2em;
  color: #303ab2;
  font-weight: 100;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  display: flex;
  place-items: center;

  &:hover {
    background-color: #303ab211;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.list-item {
  background-color: transparent;
  padding: 9px 15px;
  border-radius: 8px;
  color: #555;
  display: block;
  font-weight: bold;
  font-size: 0.9em;

  &:hover {
    background-color: #00000015;
  }
}
