.other-services {
  & h3 {
    line-height: 30px;
    margin-bottom: 10px;
  }

  & .other-services-subtitle {
    font-size: 1.2em;
  }
}

.other-services-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h4 {
    font-size: 1.2em;
  }

  & p {
    font-size: 1em;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 840px) {
  .other-services {
    & h3 {
      font-size: 2em;
      line-height: 40px;
    }

    & .other-services-subtitle {
      font-size: 1.6em;
    }
  }

  .other-services-flex {
    flex-direction: row;

    & h4 {
      font-size: 1.5em;
    }

    & p {
      font-size: 1em;
      margin-bottom: 15px;
    }
  }
}
@media screen and (min-width: 900px) {
  .other-services {
    & h3 {
      text-align: center;
    }

    & .other-services-subtitle {
      text-align: center;
    }
  }
}
