.header {
  padding: 8px;
  padding-right: 25px;
  display: flex;
  background-color: #303ab2;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.menu-button {
  border: 0;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  place-items: center;
  background-color: transparent;

  &:hover {
    background-color: #0003;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    padding: 4px;
  }
}

.img-query {
  padding-right: 7px;
}

.img-logo {
  width: 132px;
  margin-right: 5px;
}

.publica-button {
  margin-left: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 8px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;

  &:hover {
    background-color: #0003;
  }
}

.acceder-button {
  margin-left: 8px;
  background-color: #fff;
  color: #303ab2;
  font-weight: bold;
  font-size: 0.95em;
  padding: 10px 16px 10px 5px;
  border-radius: 50px 15px 15px 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 5px;
}

.gap-5 {
  gap: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: white;
}

.more-gap {
  gap: 10px;
}

.plus-padding {
  padding-left: 15px;
  padding-right: 15px;
}
